<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Reversi-Game</title>
</head>
<body id="home">
    <div class="title-home">
        <h1 class="title">Welcome to The Reversi Game</h1>
    </div>
    <div class="btn">
        <button type="button" class="btn-2player">
            <a href="./2_player.html" style="text-decoration: none; font-size: 25px; color: black;">2 Player</a>
        </button>
    </div>
    <div class="btn-com">
        <button type="button" class="btn-playerVsCom">
            <a href="./vs_com.html" style="text-decoration: none; font-size: 25px; color: black;">Player Vs Com</a>
        </button>
    </div>
</body>
</html>