<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../controllers/player_vs_com.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    
    <link rel="stylesheet" href="../css/index.css">
    <title>Reversi-Game</title>
</head>
<body>
    <div id="boardGames" class="boardBackground"></div>
    <div id="initCoin"></div>
    <div id="canMoveCoin"></div>
    <div class="statistic">
        <h1>Game Statistic</h1>
    </div>
    <div id="score">Black: 2 White: 2</div>
    <div id="pass" style="position: absolute; left: 550px; top: 150px; font-size: 25px; font-weight: bold; font-family: sans-serif; width: 550px; height: 50px; text-align: center;"></div>
    <a href="#" id="skip" style="position: absolute; left: 550px; top: 180px; font-size: 25px; font-weight: bold; font-family: sans-serif; width: 550px; height: 50px; text-align: center;"></a>
</body>
</html>